@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,700&family=Raleway:wght@100&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}